@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - ProjectWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/ProjectWebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>

<style>
    .logo {
        width: 100%;
        display: flex;
/*         background-color: green; */
        margin-left:0;
        padding-left:0;
    }
    .logg {
        text-align: left;
/*         background-color: yellow;  */
        margin-left: 0px;
        padding-left: 0;
    }
    .loggin {
        text-align: right;
/*         background-color: red; */
        margin-left: 0;
        padding-left: 0;
    }
</style>

<body>
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        var firstName = user?.FirstName;
        var lastName = user?.LastName;
        var email = user?.Email;
        var points = GetCurrentUserPoints(); // Function to get user points

        <ul class="logout-nav logo">
            <li class="nav-itemLP logo">
                @if (User.Identity?.IsAuthenticated ?? false)
                {
                    <div class="card-bodyyyy d-flex align-items-center logg d-flex align-items-center justify-content-center">
                        <ul class="list-unstyled m-0 p-0">
                            <li class="nav-item dropdown" id="userDropdownContainer">
                                <a class="nav-link" id="userDropdown" aria-haspopup="true" aria-expanded="false" onclick="toggleDropdown()">
                                    <div class="profile-container">
                                        <img class="profile-picture" src="@GetProfilePictureUrl()" alt="Profile Picture" id="profile-picture" />
                                    </div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end position-fixed" aria-labelledby="userDropdown" style="top: 60px; right: 60px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);" id="userDropdownMenu">
                                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                                        <i class="fas fa-user-cog mr-2"></i> Manage Account
                                    </a>
@*                                     <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Privacy">
                                        <i class="fas fa-shield-alt mr-2"></i> Privacy
                                    </a>
                            <div class="dropdown-divider"></div> *@
                                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm">
                                        <button type="submit" class="dropdown-item">
                                            <i class="fas fa-sign-out-alt mr-2"></i> Log Out
                                        </button>
                                    </form>
                                </div>
                            </li>
                        </ul>

                        <div class="textProfile">
                            <h5 class="mb-0 font-weight-bold">@firstName @lastName</h5>
                            <p class="text-muted mb-0">@email</p>
                        </div>

                    </div>
                    <div class="ml-auto loggin d-flex align-items-center justify-content-center">
                        <span class="user-details" style="font-family: 'Roboto', sans-serif; font-size: 1.1em; letter-spacing: 1px;">
                            <i class="fas fa-coins gold-coin-icon mr-2"></i>
                            <strong>@points</strong> <strong style="font-size: 0.7em;">points</strong>
                        </span>
                    </div>
                }

                else
                {
                    <span class="user-details">Guest</span>
                }
            </li>
           

        </ul> 

    }
    else
    {
        <ul class="logout-nav">
            <li class="nav-itemLP">
                <a class="nav-loggedout" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-itemLP">
                <a class="nav-loggedout" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        </ul>
    }
 
</body>

<script>
    function updatePoints() {
        $.ajax({
            url: '@Url.Action("GetCurrentUserPoints", "Workout")',  
            type: 'GET',
            success: function (points) {
                $('#userPoints').text(`Points: ${points}`);
            },
            error: function (xhr, status, error) {
                console.error("Error occurred while fetching user's points: " + error);
            }
        });
    }

    // Call updatePoints function when page is loaded
    $(document).ready(function () {
        updatePoints();
    });

    // Function to toggle dropdown menu
    function toggleDropdown() {
        var dropdownMenu = document.getElementById('userDropdownMenu');
        dropdownMenu.classList.toggle('show');
    }

    // Function to close dropdown menu when clicking outside
    window.onclick = function (event) {
        if (!event.target.matches('.nav-link')) {
            var dropdowns = document.getElementsByClassName("dropdown-menu");
            for (var i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>


@functions {
    public string GetProfilePictureUrl()
    {
        if (User.Identity?.IsAuthenticated == true)
        {
            var user = UserManager.GetUserAsync(User).GetAwaiter().GetResult();
            if (user != null && !string.IsNullOrEmpty(user.ProfileImageUrl))
            {
                return user.ProfileImageUrl;
            }
        }
        return "/Images/empty-pfp.png";
    }

    private int GetCurrentUserPoints()
    {
        var user = UserManager.GetUserAsync(User).Result;
        return user?.Points ?? 0;
    }
}

</html>