@model ProjectWebApp.Models.RaffleViewModel
@inject ProjectWebApp.Data.ApplicationDbContext dbContext
@{
    ViewData["Title"] = "Raffle";
    var sortedRaffles = Model.UserEnteredRaffles.OrderByDescending(r => r.EntryTimestamp).ToList();
}
@* "https://via.placeholder.com/800x400" *@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - ProjectWebApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css" />
</head>

<body>
    <div class="page-container">
        <div class="row row-equal-height">
            <div class="col-md-12 col-lg-6">
                <section id="raffleCarousel" class="carousel slide h-100 p-0" data-ride="carousel" style="max-height: 500px; min-height:500px;">
                    <div class="carousel-inner h-100">
                        @foreach (var raffle in Model.Raffles)
                        {
                            <div class="carousel-item h-100 @(raffle == Model.Raffles.First() ? "active" : "")" style="background-image: url('@(string.IsNullOrEmpty(raffle.ImageUrl) ? "https://picsum.photos/800/400" : raffle.ImageUrl)'); background-size: cover; background-position: center;">
                                <div class="d-flex justify-content-center align-items-center h-100">
                                    <!-- Add d-flex and align-items-center classes here -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="raffle-info p-4" style="background-color: rgba(0, 0, 0, 0.7);">
                                                <h3 class="mb-3 text-primary text-white">@raffle.Name</h3>
                                                <p class="description mb-3 text-white">@raffle.Description</p>
                                                <p class="text-white"><strong>Start Date:</strong> @raffle.StartDate.ToString("MMMM dd, yyyy")</p>
                                                <p class="text-white"><strong>End Date:</strong> @raffle.EndDate.ToString("MMMM dd, yyyy")</p>
                                                <p class="text-white"><strong>Cost:</strong> <i class="fas fa-coins gold-coin-icon"></i>@raffle.Cost.ToString("F0")</p>
                                                <div class="mt-4">
                                                    <a href="#" class="btn btn-primary btn-lg enter-raffle-btn" data-cost="@raffle.Cost" data-raffle-id="@raffle.RaffleId">Enter Raffle</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <a class="carousel-control-prev" href="#raffleCarousel" role="button" data-slide="prev" style="position: absolute; top: 50%;">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#raffleCarousel" role="button" data-slide="next" style="position: absolute; top: 50%;">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </section>

            </div>

            <div class="col-md-12 col-lg-6">
                <section class="d-flex flex-column h-100" style="max-height: 500px; min-height:500px; background-color:#ADDCFF;">
                    <h3>My Entries</h3>
                    <div class="section-scrollable">
                        @if (Model.UserEnteredRaffles.Any())
                        {
                            <ul class="list-group list-group-flush">
                                @foreach (var enteredRaffle in sortedRaffles)
                                {
                                    <li class="entry-item mb-3">
                                        <div class="d-flex justify-content-between align-items-center p-0 m-0">
                                            <!-- Image and Raffle Information -->
                                            <div class="d-flex align-items-center flex-grow-1">
                                                <!-- Square image -->
                                                <div class="mr-3">
                                                    @if (!string.IsNullOrEmpty(enteredRaffle.ImageUrl))
                                                    {
                                                        <img src="@enteredRaffle.ImageUrl" class="rounded-square img-fluid" alt="@enteredRaffle.Name" style="max-width: 80px; max-height: 80px;">
                                                    }
                                                    else
                                                    {
                                                        <!-- Placeholder image from Lorem Picsum -->
                                                        <img src="https://picsum.photos/300" class="rounded-square img-fluid" alt="Placeholder" style="max-width: 80px; max-height: 80px;">
                                                    }
                                                </div>
                                                <!-- Raffle information -->
                                                <div class="d-flex flex-column flex-grow-1">
                                                    <h5 class="mb-1 font-weight-bold">@enteredRaffle.Name</h5>
                                                    <p class="mb-0 text-muted">Entered: @enteredRaffle.EntryTimestamp.ToString("MMMM dd, yyyy")</p>
                                                    <!-- Check if the raffle has ended -->
                                                    @if (enteredRaffle.EntryTimestamp.Month < DateTime.UtcNow.Month)
                                                    {
                                                        <!-- Check if the user is a winner -->
                                                        @if (enteredRaffle.isWinner)
                                                        {
                                                            <div class="congratulations-message text-success">
                                                                Congratulations! You won this raffle!
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="motivational-message text-muted">
                                                                Better luck next time! Keep participating!
                                                            </div>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <div class="active-raffle-message text-primary">
                                                            Raffle is still active. Check back after it ends.
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                            <!-- Raffle status -->
                                            <div class="text-left">
                                                <div class="raffle-status-box">
                                                    @if (enteredRaffle.EntryTimestamp.Month < DateTime.UtcNow.Month)
                                                    {
                                                        <div class="expired-status">
                                                            <strong>Ends:</strong> @enteredRaffle.EntryTimestamp.AddMonths(1).Date.ToString("MMMM dd, yyyy")
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="active-status">
                                                            <strong>Ends:</strong> @enteredRaffle.EndDate.ToString("MMMM dd, yyyy")
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>


                        }
                        else
                        {

                            <p class="text-muted">No entries yet. Start earning points by completing workouts or challenges. Then, use those points to enter exciting raffles!</p>
                        }
                    </div>
                </section>
            </div>


            <div class="col-md-12 col-lg-12">
                <section style="max-height: 500px; min-height:500px; background-color:#B8D3FF;">

                    <div class="row">
                        <div class="col-6">
                            <h3>All-time Winners</h3>
                        </div>
                        <div class="col-6 text-right">
                            <button type="button" class="btn" onclick="selectWinnersAndRefresh()">
                                <i class="fas fa-sync-alt"></i>
                            </button>
                        </div>

                    </div>

                    <div class="section-scrollable">
                        @if (Model.winners.Any())
                        {
                            <ul class="list-group list-group-flush">
                                @foreach (var winner in Model.winners.Where(entry => entry.isWinner))
                                {
                                    // Fetch user information based on UserId
                                    var user = dbContext.GetUserById(winner.userId);

                                    <li class="entry-item winner">
                                        <div class="d-flex align-items-center">
                                            <!-- User's Profile Picture -->
                                            <img src="@user.ProfileImageUrl" alt="Profile Picture" class="mr-3 rounded-circle" width="50" height="50">

                                            <!-- Details: User's Name, Raffle Name, Entry Timestamp, and Raffle End Date -->
                                            <div class="d-flex flex-column">
                                                <h5 class="mb-1 font-weight-bold">@user.UserName</h5>
                                                <p class="mb-0 text-muted">@winner.Name</p>
                                                <p class="mb-0 text-muted">Won on: @winner.EndDate.ToString("MMMM dd, yyyy")</p>
                                            </div>

                                        </div>
                                    </li>

                                }

                            </ul>
                        }
                        else
                        {
                            <p class="text-muted">No winners have been selected yet.</p>
                        }
                    </div>
                   
                </section>



            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script>
        $(document).ready(function () {
            $(".enter-raffle-btn").click(function () {
                console.log("Raw data-Cost:", $(this).data("Cost"));
                var raffleCost = parseInt($(this).data("cost"), 10);
                var raffleId = $(this).data("raffle-id"); // Add this line to get the raffle ID
                console.log("Parsed raffleCost:", raffleCost);

                // Make an AJAX request to check user points and add raffle entry
                $.ajax({
                    url: '@Url.Action("AddRaffleEntry", "Raffle")',
                    type: 'POST',
                    data: { raffleCost: raffleCost, raffleId: raffleId }, // Pass the raffle ID
                    success: function (result) {
                        if (result.success) {
                            // Check if the user is already entered
                            if (result.alreadyEntered) {
                                // User is already entered, show a message
                                Swal.fire({
                                    icon: 'info',
                                    title: 'Already Entered',
                                    text: 'You are already entered in this raffle.',
                                });
                            } else {
                                // Raffle entry added successfully, show a success message
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Raffle Entered Successfully!',
                                    text: result.message,
                                    showConfirmButton: false,
                                    timer: 1500
                                }).then(function () {
                                    location.reload(); // Reload the page after the success message
                                });
                            }
                        } else {
                            // Error adding raffle entry, show an error message
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: result.message
                            });
                        }
                    },
                    error: function () {
                        // Handle errors when adding raffle entry
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'An error occurred while adding the raffle entry. Please try again.'
                        });
                    }
                });
            });
        });

        function selectWinnersAndRefresh() {
            // Submit the form asynchronously
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SelectWinners", "Raffle")',
                success: function () {
                    // Reload the page after successful submission
                    location.reload();
                }
            });
        }
    </script>





</body>
</html>
